
/*

SETTINGS

 */
 :root{

    --color-alpha: #de4831;
    --color-beta: #e1decb;
    --color-dark: #221e21;

    --gutter: 24px;
}

/*

ELEMENTS

*/
body,
html {
    /* Positioning */
    /* Box model */
    /* Fonts */
    font-family: 'Sarabun', sans-serif;
    font-size: 17px;
    line-height: 1.6;
    color: var(--color-dark);
    /* Appearance */
    /* Other styles */
}

/*

OBJECTS

*/

.o-grid {
    display: grid;
    gap: calc(var(--gutter)*2);
    
}

.o-hide {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*

COMPONENTS

 */
/* Sidebar */
.c-sidebar {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    /* Add padding on the inside */
    box-sizing: border-box;
    padding: var(--gutter);

    background: var(--color-beta);
    overflow-x: auto;
}
.c-sidebar-header {
    display: flex;
    align-items: center;
}

.c-sidebar-header__image {
    max-height: var(--gutter);
}

.c-sidebar-header__title {
    /* Relative to the body's font-size */
    margin-left: calc(var(--gutter)/2);
    font-size: 1rem;
}
.c-sidebar-menu {}
.c-sidebar-counter {}


/* Menu */
.c-menu__title{
    margin-bottom: 0;
    font-size: .8rem;
    text-transform: uppercase;
    opacity: .7;
}
.c-menu__list {
    list-style: none;
    margin: 0 0 calc(var(--gutter)*3);
    padding: 0;
}
.c-menu__item {}

.c-menu__link {
    all: unset;

    color: var(--color-alpha);
    /* letter-spacing: 1px; */
    font-size: .95rem;
    font-weight: 600;

    will-change: opacity;
    transition: opacity 200ms ease-out;

    opacity: .7;
    cursor: pointer;

}

.c-menu__link:hover{
    opacity: 1;
}

.c-sidebar-counter{
    /* fonts */
    font-size: .9rem;
    font-weight: 600;
}




/* Content */
.c-content{
    height: 100vh;
    box-sizing: border-box;
    padding: var(--gutter) calc(var(--gutter)*2) var(--gutter) 0;
    overflow-x: auto;
}


/* Country */

.c-country {
    /* Om ervoor te zorgen dat bij checked vervaagt */
    display: block;
    opacity: 1;
}

.c-country-input:checked + .c-country {
    opacity: .5;
}

.c-country-header {
    display: flex;
    align-items: flex-start;
}

.c-country-header__name {
    font-size: 1.2rem;
    margin: 0;
}
.c-country-header__flag {
    display: block;
    height: calc(var(--gutter)/1.5);
    margin-left: calc(var(--gutter)/2);

    border-radius: 4px;
}
.c-country__native-name {
    margin: 0;
    font-size: .9rem;
    opacity: .6;
}



/* 

UTILITIES

 */


 .u-grid-main-layout {
     min-height: 100vh;
     grid-template-columns: 250px 1fr;
 }

 .u-grid-overview {
     /* Iets responsive maken zonder breakpoint */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
 .u-color-alpha {
     color: var(--color-alpha);
     font-style: normal;
 }